.footer-container {
  color: var(--lightBlue);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 1.5rem;
  background: var(--mainBlue);
}
.social-media {
  margin-top: 1rem;
  margin-left: 1rem;
  transition: 0.5s;
}
.social-media:hover {
  transform: rotate3d(1, 1, 1, 30deg);
  cursor: pointer;
}
